/* 
LOGO - font-family: 'Caveat', cursive;
HEADINGS - font-family: 'Poppins', sans-serif;
SUBHEADINGS - font-family: 'Montserrat', sans-serif;
BODY TEXT - font-family: 'Roboto', sans-serif; 
*/

/* 
#F06060 - Logo
#F3B462 - Light Orange
#F2EBC0 - Background
#8DBFB3 - Pale Blue
#5D4C52 - PurpleBlack
*/

body {
    width: 55%;
    margin: auto;
    background-color: #fbf8ea;
}

main {
    width: 85%;
    margin: auto;
}

main p {
    width: 95%;
    margin: auto;
}

header > h1 {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    text-align: center;
    color: #F06060;
    text-decoration: none;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #5D4C52;
    justify-content: space-evenly;
}

nav a {
    color: #fbf8ea;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: .5rem;
}
nav a:hover {
    background-color: #8DBFB3;
    color: #5D4C52;
}

.colors {
    width: 60%;
    text-align: center;
    margin: auto;
}

.color-box {
    border-style: solid;
    margin: 5px;
}
h4 {
    text-decoration: underline;
    text-decoration-color: #8DBFB3;
}
#first {
    background-color: #fbf8ea;
}
#second {
    background-color: #F06060;
}
#third {
    background-color: #F3B462;
}
#fourth {
    background-color: #8DBFB3;
}
#fifth {
    background-color: #5D4C52;
    color: white;
    border-color: black;
}
hr {
    border-color: #F3B462;
}

.wireframe {
    display: block;
    margin: auto;
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 1px;
}

.preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    text-align: center;
}

.preview img {
    border-style: solid;
    margin: auto;
    padding: 1rem;
}

.devPost {
    display: none;
}
.pagination-button {
padding: 5px 10px;
margin: 0 5px;
cursor: pointer;
}
.pagination-button.active {
font-weight: bold;
text-decoration: underline;
}
.pagination-container {
text-align: center;
margin: 20px 0;
}