h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75rem;
}

h3, h4 {
    font-family: 'Montserrat', sans-serif; 
}

a {
    font-family: 'Montserrat', sans-serif;
}

p, li {
    font-family: 'Roboto', sans-serif; 
}