/* 
LOGO - font-family: 'Caveat', cursive;
HEADINGS - font-family: 'Poppins', sans-serif;
SUBHEADINGS - font-family: 'Montserrat', sans-serif;
BODY TEXT - font-family: 'Roboto', sans-serif; 
*/
#textLogo {
    font-size: 3rem;
    font-family: 'Caveat', cursive;
}
#headingsText {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
#subheadingsText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}